* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

img {
    object-fit: cover;
}

body {
    overflow: hidden;
}

.main {
    animation: name 60s infinite linear;
}
.butn{
    background: none;
    border:none;
    border-radius: 50%;
    background: rgb(0,0,0,0.1);
    width: 50px;
    height: 50px;
    font-weight: bold;
    font-size: 20px;
    transition: all 0.2s linear;
    color: white;
}
.butn:hover{
    transform: scale(1.2);
    background: rgb(0,0,0,0.2);
}
@keyframes name {

    1%,
    3% {
        transform: translateX(0);
    }

    10%,
    13% {
        transform: translateX(-10%);
    }

    20%,
    23% {
        transform: translateX(-20%);
    }

    30%,
    33% {
        transform: translateX(-30%);
    }

    40%,
    43% {
        transform: translateX(-40%);
    }

    50%,
    53% {
        transform: translateX(-50%);
    }

    60%,
    63% {
        transform: translateX(-60%);
    }

    70%,
    73% {
        transform: translateX(-70%);
    }

    80%,
    83% {
        transform: translateX(-80%);
    }

    90%,
    93% {
        transform: translateX(-90%);

    }

    100% {
        visibility: hidden;
    }

}